numpy
resampy
tensorflow==2.15.0
tf_slim
six
soundfile
matplotlib
pygame
pyaudio
pandas
scikit-learn
matplotlib
joblib
pydub
librosa
pillow
noisereduce
scipy
setuptools
requests
h5py
torch
loguru
packaging
torchaudio
tqdm
typing_extensions
deepfilternet
pygame_gui
sounddevice
pyshine
keras==2.15.0